<h1>Animals</h1>

{{! READ table }}
<table>
    <thead>
        {{! For the table header row, we print the DB attribute names }}
        <tr>
            {{#each animals.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, name, type, date of birth and diet }}
        {{#each animals}}
        <tr>
            <td>{{this.idAnimal}}</td>
            <td>{{this.name}}</td>
            <td>{{this.type}}</td>
            <td>{{this.dateOfBirth}}</td>
            <td>{{this.Diet}}</td>

            {{! DELETE form with confirmation }}
            <form id='delete_animal_form' onsubmit="return confirm('Are you sure you want to delete this animal?');">
                <input type='hidden' name='delete_animal_id' value='{{this.idAnimal}}' />
                <input type='hidden' name='delete_animal_name' value='{{this.name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form with confirmation}}
<h2>Add an animal </h2>
<form class='cuForm' id='create_animal_form' method='POST' action='/Animals' onsubmit="return confirm('Are you sure you want to create this animal?');">
    <label for='create_animal_name'>Name: </label>
    <input type='text' name='create_animal_name' id='create_animal_name' required />

    <label for='create_animal_type'>Type: </label>
    <input type='text' name='create_animal_type' id='create_animal_type' required />

    <label for='create_animal_dateOfBirth'>Date of birth:</label>
    <input type='date' name='create_animal_dateOfBirth' id='create_animal_dateOfBirth' required />

    <label for='create_animal_diet'>Diet: </label>
    <select name='create_animal_diet' id='create_animal_diet' required>
        <option value='' selected>Select a Food</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each food}}
        <option value='{{this.idFood}}' >{{this.foodName}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

{{! UPDATE form with confirmation}}
<h2>Update an animal</h2>
<form class='cuForm' id='update_animal_form' onsubmit="return confirm('Are you sure you want to update this animal?');">
    <label for='update_animal_id'>Animal to update: </label>
    <select name='update_animal_id' id='update_animal_id' required>
        <option value='' disabled selected>Select an Animal</option>
        {{#each animals}}
        <option value='{{this.idAnimal}}' required>
            {{this.idAnimal}}
            -
            {{this.name}}
        </option>
        {{/each}}
    </select>

    <label for='update_animal_id'>Diet update: </label>
    <select name='update_animal_diet' id='update_animal_diet' required>
         <option value='' disabled selected>Select a diet</option>
        {{#each food}}
        <option value='{{this.idFood}}' >
            {{this.idFood}}
            -
            {{this.foodName}}
        </option>
        {{/each}}
    </select>


    <input type='submit' />
</form>