{{!--
Citation for the following code:
Date: 11/4/2025 (various additional dates)
Base code used from Exploration - Web Application Technology and Exploration Implementing CUD Operations in your app
URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149
Onsubmit code from Microsoft Copilot Prompt: How do I add a confirmation message in the form tag of my hbs file?
Citation for the deactivate employee code:
Copilot Prompt: I have a database with employees, sales, ect. How can I strike out the employee to signify they have been deleted, but not actually delete to preserve their sales --}}



<h1>Employees</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each employees.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
    {{! For each row, print the idEmployee, lastName, firstName, email, jobTitle, and hourlyRate }}
    <tbody>
        {{#each employees}}
        <tr class="{{#if this.is_active}}{{else}}inactive{{/if}}">
            <td>{{this.idEmployee}}</td>
            <td>{{this.lastName}}</td>
            <td>{{this.firstName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.jobTitle}}</td>
            <td>{{this.hourlyRate}}</td>

            {{!-- Citation for the following deactivate employee code:
            Date: 11/30/2025 
            Prompt: I have a database with employees, sales, etc. How can I grey out the employee to signify they have been deactivated, but not actually delete to preserve their sales --}}
            
            {{! SOFT DELETE (Deactivate) form with confirmation }}
            <td>
                {{#if this.is_active}}
                <form id='Soft_deactivate_employee_form' method='POST' action='/employees/deactivate'
                    onsubmit="return confirm('Are you sure you want to deactivate this employee?');">
                    <input type='hidden' name='deactivate_employee_id' value='{{this.idEmployee}}' />
                    <input type='hidden' name='deactivate_employee_name' value='{{this.firstName}} {{this.lastName}}' />
                    <button type='submit'>Deactivate</button>
                </form>
                {{else}}
                <span class="inactive-label">Inactive</span>
                {{/if}}
            </td>    
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form with confirmation}}
<h2>Add an Employee</h2>
<form class='cuForm' id='create_employee_form' method='POST' action='/employees/create'
    onsubmit="return confirm('Are you sure you want to create this employee?');">

    <label for='create_firstName'>First Name:</label>
    <input type='text' name='create_employee_firstName' id='create_firstName' required />

    <label for='create_lastName'>Last Name:</label>
    <input type='text' name='create_employee_lastName' id='create_lastName' required />

    <label for='create_email'>Email:</label>
    <input type='email' name='create_employee_email' id='create_email' required />

    <label for='create_jobTitle'>Job Title:</label>
    <input type='text' name='create_employee_jobTitle' id='create_jobTitle' required />

    <label for='create_hourlyRate'>Hourly Rate:</label>
    <input type='number' name='create_employee_hourlyRate' id='create_hourlyRate' min='0' step='0.01' required />

    <input type='submit' />
</form>

{{! UPDATE form with confirmation }}
<h2>Update an Employee</h2>
<form class='cuForm' id='update_employee_form' method='POST' action='/employees/update'
    onsubmit="return confirm('Are you sure you want to update this employee?');">

    <label for='update_employee_id'>Employee to Update:</label>
    <select name='update_employee_id' id='update_employee_id' required>
        <option value='' disabled selected>Select an Employee</option>
        {{#each employees}}
        <option value='{{this.idEmployee}}'>
            {{this.idEmployee}} - {{this.firstName}} {{this.lastName}}
        </option>
        {{/each}}
    </select>

    <label for='update_firstName'>New First Name:</label>
    <input type='text' name='update_employee_firstName' id='update_firstName' required />

    <label for='update_lastName'>New Last Name:</label>
    <input type='text' name='update_employee_lastName' id='update_lastName' required />

    <label for='update_email'>New Email:</label>
    <input type='email' name='update_employee_email' id='update_email' required />

    <label for='update_jobTitle'>New Job Title:</label>
    <input type='text' name='update_employee_jobTitle' id='update_jobTitle' required />

    <label for='update_hourlyRate'>New Hourly Rate:</label>
    <input type='number' name='update_employee_hourlyRate' id='update_hourlyRate' min='0' step='0.01' required />

    <input type='submit' />
</form>
