{{!--
Citation for the following code:
Date: 11/4/2025 (various additional dates)
Base code used from Exploration - Web Application Technology and Exploration Implementing CUD Operations in your app
URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149
Onsubmit code from Microsoft Copilot Prompt: How do I add a confirmation message in the form tag of my hbs file?

--}}

<h1>Employees and Animals </h1>
<h2> This table shows which Employee is trained to take care of which Animal. </h2>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each employees_animals.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{! For each row, print the id, Employee name, Animal name }}
        {{#each employees_animals}}
        <tr>
            <td>{{this.idEmployeeAnimal}}</td>
            <td>{{this.EmployeeName}}</td>
            <td>{{this.AnimalName}}</td>

            {{! DELETE form with confirmation}}
            <form id='delete_employees_animals_form' method='POST' action='/Employees_Animals/delete' onsubmit="return confirm('Are you sure you want to delete this Employee-Animal relationship?');">
                <input type='hidden' name='delete_employees_animals_idEmployeeAnimal' value='{{this.idEmployeeAnimal}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form with confirmation }}
<h2>Add an Employee and Animal they are trained to take care of </h2>
<form class='cuForm' id='create_employees_animals_form' method='POST' action='/Employees_Animals' onsubmit="return confirm('Are you sure you want to create this animal_employee relationship?');">
    <label for='create_employees_animals_idEmployee'>Employee name: </label>
        <select name='create_employees_animals_idEmployee' id='create_employees_animals_idEmployee' required>
        <option value='' disabled selected>Select an Employee</option>
        {{#each employees}}
        <option value='{{this.idEmployee}}'>{{this.lastName}}, {{this.firstName}}</option>
        {{/each}}
    </select>
        <label for='create_employees_animals_idAnimal'>Animal name: </label>
        <select name='create_employees_animals_idAnimal' id='create_employees_animals_idAnimal' required>
        <option value='' disabled selected>Select an Animal</option>
        {{#each animals}}
        <option value='{{this.idAnimal}}'>{{this.name}}</option>
        {{/each}}
    </select>
    <input type='submit' />
</form>
 
{{! UPDATE form with confirmation}}
<h2>Update an Employee</h2>
<form class='cuForm' id='update_employee_form' method='POST' action='/Employees_Animals/update' 
      onsubmit="return confirm('Are you sure you want to update this Employee?');">

    <!-- Employee -->
    <label for='update_employees_animals_idEmployee'>Employee to update: </label>
    <select name='update_employees_animals_idEmployee' id='update_employees_animals_idEmployee' required>
        <option value='' disabled selected>Select an Employee</option>
        {{#each employees}}
        <option value='{{this.idEmployee}}'>
            {{this.idEmployee}} - {{this.lastName}}, {{this.firstName}}
        </option>
        {{/each}}
    </select>

    <!-- Old animal -->
    <label for='update_employees_animals_oldIdAnimal'>Current Animal: </label>
    <select name='update_employees_animals_oldIdAnimal' id='update_employees_animals_oldIdAnimal' required>
        <option value='' disabled selected>Select Current Animal</option>
        {{#each animals}}
        <option value='{{this.idAnimal}}'>
            {{this.idAnimal}} - {{this.name}}
        </option>
        {{/each}}
    </select>

    <!-- New animal -->
    <label for='update_employees_animals_newIdAnimal'>New Animal: </label>
    <select name='update_employees_animals_newIdAnimal' id='update_employees_animals_newIdAnimal' required>
        <option value='' disabled selected>Select New Animal</option>
        {{#each animals}}
        <option value='{{this.idAnimal}}'>
            {{this.idAnimal}} - {{this.name}}
        </option>
        {{/each}}
    </select>

    <input type='submit' />
</form>