{{!--
Citation for the following code:
Date: 11/4/2025 (various additional dates)
Base code used from Exploration - Web Application Technology and Exploration Implementing CUD Operations in your app
URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131
URL: https://canvas.oregonstate.edu/courses/2017561/pages/exploration-implementing-cud-operations-in-your-app?module_item_id=25645149
Onsubmit code from Microsoft Copilot Prompt: How do I add a confirmation message in the form tag of my hbs file?

--}}

<h1>Passes</h1>

{{!-- READ table --}}
<table>
    <thead>
        <tr>
            {{#each passes.[0]}}
            <th>{{@key}}</th>
            {{/each}}

        </tr>
    </thead>
    <tbody>
        {{#each passes}}
        <tr>
            <td>{{this.idPass}}</td>
            <td>{{this.price}}</td>
            <td>{{this.category}}</td>
            
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- CREATE form with confirmation --}}
<h2>Add a Pass</h2>
<form class='cuForm' id='create_pass_form' action='/passes/create' method='POST'
onsubmit="return confirm('Are you sure you want to create this pass?');">

    <label for='create_price'>Price:</label>
    <input type='number' name='create_pass_price' id='create_price' step='0.01' min='0' required />

    <label for='create_category'>Category:</label>
    <input type='text' name='create_pass_category' id='create_category' placeholder='Type a new category' required />

    <input type='submit' />
</form>

{{!-- UPDATE form with confirmation --}}
<h2>Update a Pass</h2>
<form class='cuForm' id='update_pass_form' action='/passes/update' method='POST'
    onsubmit="return confirm('Are you sure you want to update this pass?');">

    <label for='update_pass_id'>Pass to Update:</label>
    <select name='update_pass_id' id='update_pass_id' required>
        <option value='' disabled selected>Select a Pass</option>
        {{#each passes}}
        <option value='{{this.idPass}}'>
            {{this.idPass}} - {{this.price}} - {{this.category}}
        </option>
        {{/each}}
    </select>

    <label for='update_price'>New Price:</label>
    <input type='number' name='update_pass_price' id='update_price' step='0.01' min='0' required />

    <label for='update_category'>New Category:</label>
    <input type='text' name='update_pass_category' id='update_category' required />

    <input type='submit' />
</form>
