<h1>Passes</h1>

{{! READ table }}
<table>
    <thead>
        <tr>
            {{#each passes.[0]}}
            <th>{{@key}}</th>
            {{/each}}
            <th></th>
        </tr>
    </thead>
      {{! For each row, print the idPass, price and category }}
    <tbody>
        {{#each passes}}
        <tr>
            <td>{{this.idPass}}</td>
            <td>{{this.price}}</td>
            <td>{{this.category}}</td>

            <td>

            {{! DELETE form with added confirmation}}
            <form id='delete_pass_form' onsubmit="return confirm('Are you sure you want to delete this pass?');">
                <input type='hidden' name='delete_pass_id' value='{{this.idPass}}' />       
                    <button type='submit'>Delete</button>
                
            </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{! CREATE form with added confirmation }}
<h2>Add a Pass</h2>
<form class='cuForm' id='create_pass_form'onsubmit="return confirm('Are you sure you want to create this pass?');">

    <label for='create_price'>Price:</label>
    <input type='number' name='create_price' id='create_price' step='0.01' min='0' required />

    <label for='create_category'>Category:</label>
    <input type='text' name='create_category' id='create_category' placeholder='Type a new category' required />

    <input type='submit' />
</form>

{{! UPDATE form with added confirmation}}
<h2>Update a Pass</h2>
<form class='cuForm' id='update_pass_form'onsubmit="return confirm('Are you sure you want to update this pass?');">

    <label for='update_pass_id'>Pass to Update:</label>
    <select name='update_pass_id' id='update_pass_id' required>
        <option value='' disabled selected>Select a Pass</option>
        {{#each passes}}
        <option value='{{this.idPass}}'>
            {{this.idPass}} - {{this.price}} - {{this.category}}
        </option>
        {{/each}}
    </select>

    <label for='update_price'>New Price:</label>
    <input type='number' name='update_price' id='update_price' step='0.01' min='0' required />

    <input type='submit' />
</form>
